VITE_API_URL=https://campus-market-lv6f.onrender.com
VITE_GOOGLE_CLIENT_ID=225096854956-etktq9vo96j4dej3adocdle3ml1l3khq.apps.googleusercontent.com
VITE_GOOGLE_REDIRECT_URI=https://campus-market-gamma-eight.vercel.app/login
VITE_MICROSOFT_CLIENT_ID=replace-with-microsoft-app-client-id
VITE_MICROSOFT_REDIRECT_URI=http://localhost:5173/login
